@model IEnumerable<Item>
<link rel="stylesheet" href="~/css/styles.css">

<h1>List of Items</h1>

@using (Html.BeginForm("Items", "Item", FormMethod.Get))
{
    <p>
        Find by Id: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
    <button type="button" class=" button button-order" onclick="location.href='@Url.Action("OrderForm", "Order")'">Create Order</button>
    <button type="button" class="button button-add" onclick="location.href='@Url.Action("AddForm", "Item")'">Add Item</button>

}

@if (TempData["Message"] != null)
{
    <div id="successMessage" class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}
<script>
    setTimeout(function () {
        document.getElementById('successMessage').style.display = 'none';
    }, 2200); 
</script>


<table>
    <tr>
        <th>
            @Html.ActionLink("ItemID", "Items", new { sortOrder = ViewBag.IdSortParm })
        </th>
        <th>
            @Html.ActionLink("Name", "Items", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Group", "Items", new { sortOrder = ViewBag.GroupSortParm })
        </th>
        <th>
            @Html.ActionLink("Measurement", "Items", new { sortOrder = ViewBag.MeasurementSortParm })
        </th>
        <th>
            @Html.ActionLink("Quantity", "Items", new { sortOrder = ViewBag.QuantitySortParm })
        </th>
        <th>
            @Html.ActionLink("Price Without VAT", "Items", new { sortOrder = ViewBag.PriceWithoutVATSortParm })
        </th>
        <th>
            @Html.ActionLink("Status", "Items", new { sortOrder = ViewBag.StatusSortParm })
        </th>
        <th>
            @Html.ActionLink("Storage Location", "Items", new { sortOrder = ViewBag.StorageLocationSortParm })
        </th>
        <th>
            @Html.ActionLink("Contact Person", "Items", new { sortOrder = ViewBag.ContactPersonSortParm })
        </th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ItemID</td>
            <td>@item.Name</td>
            <td>@item.Group</td>
            <td>@item.Measurement</td>
            <td>@item.Quantity</td>
            <td>@item.PriceWithoutVAT</td>
            <td>@item.Status</td>
            <td>@item.StorageLocation</td>
            <td>@item.ContactPerson</td>
            <td colspan="2">
               
                <form asp-controller="Item" asp-action="DeleteItem" method="post">
                    <input type="hidden" name="ItemId" value="@item.ItemID" />
                    <button type="submit" class="button button-delete" onclick="return confirm('Are you sure you want to delete this item?')">Delete</button>
                </form>
                <form asp-controller="Item" asp-action="EditItem" method="get">
                    <input type="hidden" name="itemId" value="@item.ItemID" />
                    <button type="submit" class="button button-edit">Edit</button>
                </form>
            </td>

        </tr>
    }
</table>

